USE [master]
GO
/****** Object:  Database [hr]    Script Date: 27/2/2026 21:40:03 ******/
CREATE DATABASE [hr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hr.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\hr_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hr]
GO
/****** Object:  Table [dbo].[countriess]    Script Date: 27/2/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countriess](
	[country_id] [char](2) NOT NULL,
	[country_name] [varchar](40) NULL,
	[region_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departmentss]    Script Date: 27/2/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departmentss](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [varchar](30) NOT NULL,
	[manager_id] [int] NULL,
	[location_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employeess]    Script Date: 27/2/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employeess](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](20) NULL,
	[last_name] [varchar](25) NOT NULL,
	[email] [varchar](25) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[hire_date] [date] NOT NULL,
	[job_id] [varchar](10) NOT NULL,
	[salary] [decimal](8, 2) NULL,
	[commission_pct] [decimal](2, 2) NULL,
	[manager_id] [int] NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_historyy]    Script Date: 27/2/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_historyy](
	[employee_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[job_id] [varchar](10) NOT NULL,
	[department_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC,
	[start_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobss]    Script Date: 27/2/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobss](
	[job_id] [varchar](10) NOT NULL,
	[job_title] [varchar](35) NOT NULL,
	[min_salary] [decimal](8, 2) NULL,
	[max_salary] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locationss]    Script Date: 27/2/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locationss](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[street_address] [varchar](40) NULL,
	[postal_code] [varchar](12) NULL,
	[city] [varchar](30) NOT NULL,
	[state_province] [varchar](25) NULL,
	[country_id] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regionss]    Script Date: 27/2/2026 21:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regionss](
	[region_id] [int] IDENTITY(1,1) NOT NULL,
	[region_name] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[region_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[countriess] ([country_id], [country_name], [region_id]) VALUES (N'AR', N'Argentina', 2)
INSERT [dbo].[countriess] ([country_id], [country_name], [region_id]) VALUES (N'AU', N'Australia', 6)
INSERT [dbo].[countriess] ([country_id], [country_name], [region_id]) VALUES (N'BR', N'Brazil', 2)
GO
SET IDENTITY_INSERT [dbo].[departmentss] ON 

INSERT [dbo].[departmentss] ([department_id], [department_name], [manager_id], [location_id]) VALUES (1, N'Administration', NULL, 1)
INSERT [dbo].[departmentss] ([department_id], [department_name], [manager_id], [location_id]) VALUES (2, N'Finance', NULL, 2)
INSERT [dbo].[departmentss] ([department_id], [department_name], [manager_id], [location_id]) VALUES (3, N'Human Resources', NULL, 3)
SET IDENTITY_INSERT [dbo].[departmentss] OFF
GO
SET IDENTITY_INSERT [dbo].[employeess] ON 

INSERT [dbo].[employeess] ([employee_id], [first_name], [last_name], [email], [phone_number], [hire_date], [job_id], [salary], [commission_pct], [manager_id], [department_id]) VALUES (1, N'John', N'Smith', N'JSMITH', N'555-1001', CAST(N'2020-01-10' AS Date), N'CEO', CAST(40000.00 AS Decimal(8, 2)), NULL, NULL, 15)
INSERT [dbo].[employeess] ([employee_id], [first_name], [last_name], [email], [phone_number], [hire_date], [job_id], [salary], [commission_pct], [manager_id], [department_id]) VALUES (2, N'Maria', N'Lopez', N'MLOPEZ', N'555-1002', CAST(N'2021-03-14' AS Date), N'CFO', CAST(35000.00 AS Decimal(8, 2)), NULL, 1, 2)
INSERT [dbo].[employeess] ([employee_id], [first_name], [last_name], [email], [phone_number], [hire_date], [job_id], [salary], [commission_pct], [manager_id], [department_id]) VALUES (3, N'Pedro', N'Gomez', N'PGOMEZ', N'555-1003', CAST(N'2021-05-20' AS Date), N'HR_MGR', CAST(12000.00 AS Decimal(8, 2)), NULL, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[employeess] OFF
GO
INSERT [dbo].[job_historyy] ([employee_id], [start_date], [end_date], [job_id], [department_id]) VALUES (1, CAST(N'2015-01-01' AS Date), CAST(N'2020-01-10' AS Date), N'OP_MGR', 9)
INSERT [dbo].[job_historyy] ([employee_id], [start_date], [end_date], [job_id], [department_id]) VALUES (1, CAST(N'2020-01-11' AS Date), CAST(N'2023-01-01' AS Date), N'CFO', 2)
INSERT [dbo].[job_historyy] ([employee_id], [start_date], [end_date], [job_id], [department_id]) VALUES (2, CAST(N'2018-02-01' AS Date), CAST(N'2021-03-14' AS Date), N'FN_MGR', 2)
GO
INSERT [dbo].[jobss] ([job_id], [job_title], [min_salary], [max_salary]) VALUES (N'BI_ANLT', N'Business Intelligence Analyst', CAST(5000.00 AS Decimal(8, 2)), CAST(11000.00 AS Decimal(8, 2)))
INSERT [dbo].[jobss] ([job_id], [job_title], [min_salary], [max_salary]) VALUES (N'CEO', N'Chief Executive Officer', CAST(20000.00 AS Decimal(8, 2)), CAST(50000.00 AS Decimal(8, 2)))
INSERT [dbo].[jobss] ([job_id], [job_title], [min_salary], [max_salary]) VALUES (N'CFO', N'Chief Financial Officer', CAST(18000.00 AS Decimal(8, 2)), CAST(45000.00 AS Decimal(8, 2)))
GO
SET IDENTITY_INSERT [dbo].[locationss] ON 

INSERT [dbo].[locationss] ([location_id], [street_address], [postal_code], [city], [state_province], [country_id]) VALUES (1, N'100 Main St', N'10001', N'New York', N'NY', N'US')
INSERT [dbo].[locationss] ([location_id], [street_address], [postal_code], [city], [state_province], [country_id]) VALUES (2, N'200 Market St', N'94105', N'San Francisco', N'CA', N'US')
INSERT [dbo].[locationss] ([location_id], [street_address], [postal_code], [city], [state_province], [country_id]) VALUES (3, N'300 Sunset Blvd', N'90001', N'Los Angeles', N'CA', N'US')
SET IDENTITY_INSERT [dbo].[locationss] OFF
GO
SET IDENTITY_INSERT [dbo].[regionss] ON 

INSERT [dbo].[regionss] ([region_id], [region_name]) VALUES (1, N'North America')
INSERT [dbo].[regionss] ([region_id], [region_name]) VALUES (2, N'South America')
INSERT [dbo].[regionss] ([region_id], [region_name]) VALUES (3, N'Europe')
SET IDENTITY_INSERT [dbo].[regionss] OFF
GO
ALTER TABLE [dbo].[countriess]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regionss] ([region_id])
GO
ALTER TABLE [dbo].[departmentss]  WITH CHECK ADD FOREIGN KEY([location_id])
REFERENCES [dbo].[locationss] ([location_id])
GO
ALTER TABLE [dbo].[employeess]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departmentss] ([department_id])
GO
ALTER TABLE [dbo].[employeess]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[jobss] ([job_id])
GO
ALTER TABLE [dbo].[employeess]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[employeess] ([employee_id])
GO
ALTER TABLE [dbo].[job_historyy]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departmentss] ([department_id])
GO
ALTER TABLE [dbo].[job_historyy]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employeess] ([employee_id])
GO
ALTER TABLE [dbo].[job_historyy]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[jobss] ([job_id])
GO
ALTER TABLE [dbo].[locationss]  WITH CHECK ADD FOREIGN KEY([country_id])
REFERENCES [dbo].[countriess] ([country_id])
GO
USE [master]
GO
